// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$combi-events-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
      tertiary: mat.$cyan-palette,
    ),
    density: (
      scale: 0,
    ),
    typography: (
      brand-family: Poppins,
      plain-family: Poppins,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($combi-events-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
@include mat.typography-hierarchy($combi-events-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($combi-events-theme);
/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;

  @media (min-width: 960px) {
    font-size: 16px;
  }
}

body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.mat-mdc-snack-bar-container.info-snackbar {
  --mdc-snackbar-container-color: #2196f3;
  --mat-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
}

.mat-mdc-snack-bar-container.error-snackbar {
  --mdc-snackbar-container-color: #b00020;
  --mat-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
}

.no-hint .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.dense-2 {
  @include mat.all-component-densities(-2);
}

.tertiary-button {
  @include mat.button-color($combi-events-theme, $color-variant: tertiary);
}
